{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-sm-3">
        {%  include '/koulishub/profile.html.twig' %}
    </div>
    <div class="col-sm-9">
        Kwlaaara
    </div>
{% endblock %}